<section id="about" class="page-section">
  <div class="wrapper">
    <h1 class="section-title">About Google Cloud Next</h1>

    <div class="inner-wrapper">
      <p>Next ‘17 will be the largest event in Google’s history. Google Cloud engineers, customers and partners will gather for inspiration and hands on experiences with tools, technologies and services born in the Cloud, including the latest developments from Google Cloud Platform, G Suite, Maps and Devices.</p>

      <p>This year's Google Cloud Next 2017 Extended Cebu will be held on <strong>April 22, 2017</strong> at <strong>A Space Cebu, Crossroads, Gov M Cuenco Avenue, Banilad, Cebu City</strong>.</p>
    </div>

    <img class="venue-map" src="{{ map }}" alt="Map to event venue">
  </div>
</section>
