<section id="speakers" class="page-section">
  <div class="wrapper">
    <h1 class="section-title">Speakers</h1>

    <div class="inner-wrapper">
      <p>We are looking for people who can share their knowledge and expertise regarding Google Cloud Platform technologies. If you are someone who works with Google Cloud Platform technologies and have something that you want to share or knows anyone who does, we would love to receive your proposals. Follow the link below and fill out the form with your details and talk proposals.</p>

      <p>The deadline for submission is <strong>April 8, 2017</strong>. We're looking forward to your submissions!</p>

      <div class="section-footer align-center">
        <a class="cta-btn" href="https://goo.gl/forms/dOcU7O99r09yfYEu2" rel="nofollow" target="_blank">Be a Speaker</a>
      </div>
    </div>
  </div>
</section>
