<section id="sponsors" class="page-section">
  <div class="wrapper">
    <h1 class="section-title">Sponsors</h1>

    <ol class="thanks">
      {% for group in sponsors %}
        <li class="thanks-group">
          <h3 class="thanks-name">{{ group.name }}</h3>
          <ul>
            {% for sponsor in group.sponsors %}
              <li class="thank">
                <a href="{{ sponsor.link }}" rel="nofollow" target="_blank">
                  <img class="thank-logo" src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>
